root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
spaces_around_operators = true
indent_brace_style = 1TBS
insert_final_newline = true
tab_size = 4
translate_tabs_to_spaces = true
